//  colors
$color-1: #121212;
$color-2: #fcfcfc;

//  typo
$browser-context: 16;
$family-1: 'Roboto Condensed', sans-serif;
$family-2: cursive;

@function pxToEm($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin type($family: $family-1, $weight: 400, $size: 16) {
  font-family: $family;
  font-weight: $weight;
  font-size: pxToEm($size);
}

// breakpoints
$breakpoints: (
  'sm': 600px,
  'md': 900px,
  'lg': 1200px,
  'xlg': 1800px,
);
@mixin breakpoint($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
